*{
   margin: 10;
  padding: 10;
  box-sizing: border-box;
}

header{
 
  background-color: teal;
  
 }

 body  {
  background-image: url("https://studentspace.org.uk/assets/images/student-space_illustrations_studying.png");
}

nav{
  display: inline-block;
  
}
